<div class="main-container">
    <header class="purple">
        <nav>
            <ul>
                <li><a [routerLink]="['/inicio']" [routerLinkActive]="['current']">Inicio</a></li>
                <li><a [routerLink]="['/blog']"  [routerLinkActive]="['current']" >Blog</a></li>
                <li><a [routerLink]="['/galeria']" [routerLinkActive]="['current']">Portafolio</a></li>
                <li><a [routerLink]="['/contacto']" [routerLinkActive]="['current']">Contacto</a></li>
            </ul>
        </nav>
        
        <div class="logo-box">
            <div class="logo-div" [ngStyle]="{'display': hideLogo ? 'none' : 'block'}"></div>
            <h1 [ngStyle]="{'display': hideLogo ? 'block' : 'none'}">{{title}}</h1>
            <div class="extra-text-box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias possimus veniam nemo qui perferendis, Alias possimus veniam nemo qui perferendis</p>
            </div>
        </div>
        

        <div class="btn-menu">
            <span>MENU</span>
        </div>

        <div class="media-header">
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-linkedin2"></span></a>
            <a href="#"><span class="icon-instagram"></span></a>
        </div>
    </header>
    
    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <div class="media-box purple">
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-linkedin2"></span></a>
            <a href="#"><span class="icon-instagram"></span></a>
        </div>
        <div class="rights">
            Derechos Reservados johnGomezDev.com&copy; 2020
        </div>
    </footer>
</div>