<div id="info-container">
    <article *ngIf="sectionName=='about'">
        <div class="img-wrapper">
            <img src="../../../assets/images/profilePic.jpg" alt="foto">
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi totam laudantium impedit eius omnis! Blanditiis sunt, 
            magni iure non delectus voluptates, eius sapiente quibusdam 
            officia inventore neque, molestiae obcaecati a.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi totam laudantium impedit eius omnis! Blanditiis sunt, 
            magni iure non delectus voluptates, eius sapiente quibusdam 
            officia inventore neque, molestiae obcaecati a.
        </p>
    </article>
    <article *ngIf="sectionName=='life'">
        <div class="img-wrapper-life">
            <img src="../../../assets/images/chica2.jpg" alt="foto">
        </div>
        <p>
            No dejes que termine sin haber crecido un poco,
            sin haber sido un poco más feliz,
            sin haber alimentado tus sueños.
            No te dejes vencer por el desaliento.
            No permitas que nadie
            te quite el derecho de
            expresarte que es casi un deber.
            No abandones tus ansias de hacer de tu vida
            algo extraordinario…
            No dejes de creer que las palabras, la risa y la poesía
            sí pueden cambiar el mundo - <strong>Walt Whitman</strong>
        </p>
    </article>
</div>
