<div id="info-container">
    <article *ngIf="sectionName=='about'">
        <div class="img-wrapper">
            <img src="../../../assets/images/profilePic.jpg" alt="foto">
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi totam laudantium impedit eius omnis! Blanditiis sunt, 
            magni iure non delectus voluptates, eius sapiente quibusdam 
            officia inventore neque, molestiae obcaecati a.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi totam laudantium impedit eius omnis! Blanditiis sunt, 
            magni iure non delectus voluptates, eius sapiente quibusdam 
            officia inventore neque, molestiae obcaecati a.
        </p>
    </article>
    <article *ngIf="sectionName=='life'">
        <div class="img-wrapper-life">
            <img src="../../../assets/images/chica2.jpg" alt="foto">
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi totam laudantium impedit eius omnis! Blanditiis sunt, 
            magni iure non delectus voluptates, eius sapiente quibusdam 
            officia inventore neque, molestiae obcaecati a.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi totam laudantium impedit eius omnis! Blanditiis sunt, 
            magni iure non delectus voluptates, eius sapiente quibusdam 
            officia inventore neque, molestiae obcaecati a.
        </p>
    </article>
</div>
