<div class="index-container">
    <div class="pic-1 pic-box">
        
    </div>
    <div class="good-life-section section">
        <h3>Una buena vida</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <div class="see-more-box">
            <a [routerLink]="['/info', 'buena-vida']">Ver más...</a>
        </div>
    </div>
    <div class="about-section section">
        <h3>Sobre mi</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        </p>
        <div class="see-more-box">
            <a [routerLink]="['/info', 'sobre-mi']">Ver más...</a>
        </div>
    </div>
    <div class="pic-2 pic-box">

    </div>
</div>
