<div id="gallery-container">
    <div class="img-wrapper-long">
        <img src="../../../assets/images/flo1.jpg" alt="">
    </div>
    <div class="img-wrapper-short">
        <img src="../../../assets/images/flo2.jpg" alt="">
    </div>
    <div class="img-wrapper-long">
        <img src="../../../assets/images/pic2.jpg" alt="">
    </div>
    <div class="img-wrapper-short">
        <img src="../../../assets/images/pic1.jpg" alt="">
    </div>
    <div class="img-wrapper-long">
        <img src="../../../assets/images/flo1.jpg" alt="">
    </div>
    <div class="img-wrapper-short">
        <img src="../../../assets/images/flo2.jpg" alt="">
    </div>
    <div class="img-wrapper-long">
        <img src="../../../assets/images/pic2.jpg" alt="">
    </div>
    <div class="img-wrapper-short">
        <img src="../../../assets/images/flo2.jpg" alt="">
    </div>
</div>
